.w-15 {
    width: 15%;
}
.w-20 {
    width: 20%;
}
.w-35 {
    width: 35%;
}

.full-width {
    width: 100%;
}

.full-width .dropdown-toggle,
.full-width .dropdown-menu {
  width: 100%;
}

.action {
    display: block;
    margin: 10px auto;
    text-align: center;
}
