body {
    margin: 0;
}

canvas {
    display: block;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.scene {
    width: 800px;
    height: 500px;
}

.navigation {
    width: 800px;
}

.controls {
    width: 80%;
    float: left;
}

.seekbar {
    width: 300px;
}

.playlist {
    width: 20%;
    float: right;
}

.playlist legend {
    text-align: center;
}

.playlist select {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.debug-windows {

}

.debug-window {

}
