body {
    margin: 0;
}

canvas {
    display: block;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.scene {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0;
    padding: 0;
}

.action-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    z-index: 100;
}

.reward-text {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    z-index: 100;
    text-align: right;
}

.navigation {
    width: 800px;
}

.controls {
    width: 80%;
    float: left;
}

.seekbar {
    width: 300px;
}

.playlist {
    width: 20%;
    float: right;
}

.playlist legend {
    text-align: center;
}

.playlist select {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.debug-windows {

}

.debug-window {

}
