.viewer {
    background-color: black;
    width: 100%;
}

.viewer-scene {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.viewer-full .viewer-scene {
    height: 500px;
}

.viewer-side .viewer-scene {
    height: 200px;
}

.viewer-action {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    z-index: 100;
}

.viewer-reward {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    z-index: 100;
    text-align: right;
}
