.viewer {
    background-color: black;
    width: 100%;
}

.viewer-scene {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.viewer-full .viewer-scene {
    height: 600px;
}

.viewer-side .viewer-scene {
    height: 200px;
}

.viewer-scene canvas {
    margin: 0 auto;
    display: block;
}

.viewer-scene img {
    margin: 0 auto;
    display: block;
}

.viewer-scene p {
    text-align: center;
    color: white;
}

.viewer-action {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    z-index: 100;
}

.viewer-reward {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ffffff;
    z-index: 100;
    text-align: right;
}

.image-container {
    margin: 0 auto;
}

/*.viewer-side .image-container {*/
/*    width: 100%;*/
/*}*/

/*.viewer-side .image img {*/
/*    width: 100%;*/
/*}*/
